h1 Teacher guide for Pirates game

.container
    p.
     מנטורים ומורים שלא היו בהדרכה צריכים לצפות בסרטוני ההדרכה ולאחר מכן להוריד את ה starter kit ולנסות לנצח בעצמם את ה demo bots - החלק הזה הוא חשוב ביותר והוא לא nice to have. למעשה מה שאנחנו עושים בהדרכת המורים זה ממש מתכנתים כדי להכיר באמת את המשחק.

    p.
     סה״כ הזמן שצריך להקדיש לכל הסיפור הזה הוא כשעתיים וחצי, כשעה ורבע כדי לצפות בסרטוני ההדרכה, ועוד כשעה ורבע כדי לכתוב בוט שמשחק את המשחק.

    p.
     כדי להוריד את ה starter kit, פשוט כנסו לאתר של בית הספר שלכם, צרו יוזר חדש ומיוחד עבורכם ואז היכנסו עם היוזר הזה ומשם תורידו את ה starter kit וקראו את התיעוד.

    ol
        li: a(href="http://youtu.be/fbWB-zycX1A") מבוא לתחרות (כ 30 דקות)
        li: a(href="http://youtu.be/9IH5vLdRP0Q") לפני התחרות (כ 10 דקות)
        li: a(href="http://youtu.be/8QfUjMWyYOc") מצגת הפתיחה (כ 20 דקות)
        li: a(href="http://youtu.be/_f7qToOWCFk") הרצת סיבוב (כ 20 דקות)

